@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9ob90ra');
  src:  url('../fonts/icomoon.eot?4s91ap#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4s91ap') format('truetype'),
    url('../fonts/icomoon.woff?4s91ap') format('woff'),
    url('../fonts/icomoon.svg?4s91ap#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apartment-building .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
  opacity: 0.25;
}
.icon-apartment-building .path2:before {
  content: "\e901";
  margin-left: -1.15234375em;
  color: rgb(97, 66, 97);
}
.icon-apartment-building .path3:before {
  content: "\e902";
  margin-left: -1.15234375em;
  color: rgb(255, 255, 255);
}
.icon-banknote:before {
  content: "\e903";
}
.icon-bulb:before {
  content: "\e904";
}
.icon-cup:before {
  content: "\e905";
  color: #fff;
}
.icon-film:before {
  content: "\e906";
  color: #fff;
}
.icon-handset:before {
  content: "\e907";
  color: #f7f7f7;
}
.icon-lab:before {
  content: "\e908";
  color: #fff;
}
.icon-like:before {
  content: "\e909";
  color: #fff;
}
.icon-mail:before {
  content: "\e90a";
  color: #808080;
}
.icon-params:before {
  content: "\e90b";
}
.icon-pen:before {
  content: "\e90c";
  color: #808080;
}
.icon-photo:before {
  content: "\e90d";
  color: #fff;
}
.icon-Shape_1:before {
  content: "\e90e";
  color: #fff;
}
.icon-slideshow:before {
  content: "\e90f";
  color: #fff;
}
.icon-stack:before {
  content: "\e910";
  color: #f39c12;
}
.icon-star:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e912";
  color: #fff;
}
.icon-user2:before {
  content: "\e913";
  color: #fff;
}
.icon-world:before {
  content: "\e914";
}
