body {
	color: #4d4d4d;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
}
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}
header {
	position: absolute;
	top: 84;
	left: 0;
	right: 0;
	z-index: 99;
}
.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.banner {
	height: 1100px;
	 background: url(../img/banner.png) no-repeat center top;
}
.logo a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
}
.menu {
	list-style: none;
	display: flex;
}
.menu__item {
	margin-left: 90px;
}
.menu__link {
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;
}
.menu__link:hover {
	color: #0d0d0d;
}